In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/vineetasinha/Documents/Backups/Apr30/dataanalytics/tasks/Data-Immersion/Achievement 6/World Happiness Project'

In [3]:
path

'/Users/vineetasinha/Documents/Backups/Apr30/dataanalytics/tasks/Data-Immersion/Achievement 6/World Happiness Project'

In [4]:
df = pd.read_csv(os.path.join(path,'Data','Original Data','2015.csv'),index_col=False)

In [5]:
df.head(5)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [7]:
# Descrptive Anaysis

df.describe()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,45.754363,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,40.250000,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,79.500000,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,118.750000,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

In [8]:
df.shape

(158, 12)

In [9]:
#checking Null values

df.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [10]:
# Checking duplicate records

df.duplicated().sum()

0

In [11]:
df = df.rename(columns={'Freedom': 'Freedom to make life choices'})

In [12]:
df.head(5)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom to make life choices,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [72]:
def check_mixed_dtypes(df):
    mixed_columns = {}
    for column in df.columns:
        unique_dtypes = df[column].map(type).unique()
        if len(unique_dtypes) > 1:
            mixed_columns[column] = unique_dtypes
    return mixed_columns

In [74]:
mixed_dtypes = check_mixed_dtypes(df)

In [76]:
print("Columns with mixed data types:")
for column, dtypes in mixed_dtypes.items():
    print(f"{column}: {dtypes}")

Columns with mixed data types:

In [64]:
df = df.drop(columns=['Region'])

In [70]:
df.head(5)

,Country,Overall Rank,Happiness Score,Economy (GDP per Capita),Family,Life Expectancy,Freedom to make life choices,Absence of Corruption,Generosity
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [68]:
df = df.rename(columns={'Happiness Rank': 'Overall Rank'})

In [48]:
df = df.rename(columns={'Health (Life Expectancy)': 'Life Expectancy'})

In [78]:
df.isnull().sum()

Country                         0
Overall Rank                    0
Happiness Score                 0
Economy (GDP per Capita)        0
Family                          0
Life Expectancy                 0
Freedom to make life choices    0
Absence of Corruption           0
Generosity                      0
dtype: int64

In [80]:
df.shape

(158, 9)

In [84]:
categorical_columns = df.select_dtypes(include=['float64','int64']).columns
print("Categorical variables:", categorical_columns)

Categorical variables: Index(['Overall Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Family',
       'Life Expectancy', 'Freedom to make life choices',
       'Absence of Corruption', 'Generosity'],
      dtype='object')

In [86]:
df.describe()

,Overall Rank,Happiness Score,Economy (GDP per Capita),Family,Life Expectancy,Freedom to make life choices,Absence of Corruption,Generosity
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.375734,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296
std,45.754363,1.145010,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685
min,1.000000,2.839000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,40.250000,4.526000,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553
50%,79.500000,5.232500,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130
75%,118.750000,6.243750,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883
max,158.000000,7.587000,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880

In [88]:
df.to_csv(os.path.join(path, 'Data', 'Cleaned Data', 'FinalWHData.csv'))